@import "./colors.less";

.slide {
    color: @color1;
    font-size: 1.2rem;
    line-height: 1.6em;

    a,
    a:link,
    a:visited,
    a:hover,
    a:target {
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: @color4;
    }

    img {
        min-width: 40%;
    }

    code {
        font-size: 1rem;
        line-height: 140%;
    }

    table,
    tr,
    td {
        font-size: 0.9em;

        border-collapse: collapse;
        border: 1px solid @color2;
    }

    td {
        padding: 0.3rem;
    }
}
