@import "./styles/index.less";

.App {
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;

    &__header {
        background: @color1;
        color: @color-text-light;
    }

    &__content {
    }
}
